:root {
  --color-primary-default: 43, 122, 209;
  --color-secondary-lighter: 73, 80, 113;
  --color-secondary-light: 64, 71, 110;
  --color-secondary-default: 48, 55, 87;
  --color-secondary-dark: 35, 43, 72;
  --color-secondary-darker: 26, 31, 50;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
